@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, black, violet);
  color: #fff;
  padding: 10px;
}
.calculator {
  width: 100%;
  max-width: 600px;
  margin-top: 6%;
  margin-left: 25%;
}
.calculator h1 {
  font-size: 60px;
  color: rgb(255, 213, 0);
  margin-left: 0px;
}
.calculator h2 {
  font-size: 35px;
}
.input-box {
  margin-top: 30px;
  padding: 20px;
  border-radius: 5px;
  background: black;
  display: flex;
  align-items: center;
}
.input-box input {
  flex: 1;
  margin-right: 20px;
  padding: 10px 20px;
  border: 0;
  outline: 0;
  font-size: 20px;
  border-radius: 5px;
  position: relative;
}
.input-box button {
  background: red;
  color: whitesmoke;
  outline: 0;
  border: 0;
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 23px;
  cursor: pointer;
}
.input-box input::-webkit-calendar-picker-indicator {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  position: absolute;
  background-position: calc(100% - 10px);
  background-size: 30px;
  cursor: pointer;
}
#result {
  width: 100%;
  height: auto;
  display: none;
}
.year {
  width: 110px;
  height: 110px;
  background-color: black;
  border-radius: 5px;
  color: white;
  text-align: center;
  margin: 10px;
  margin-left: 60px;
  padding: 3px 20px;
  box-shadow: 1px 2px 20px rgb(204, 202, 202);
}
.month {
  width: 110px;
  height: 110px;
  background-color: black;
  color: white;
  text-align: center;
  margin: 10px;
  margin-left: 60px;
  padding: 3px 20px;
  border-radius: 5px;
  box-shadow: 1px 2px 20px rgb(204, 202, 202);
}
.day {
  width: 110px;
  height: 110px;
  background-color: black;
  color: white;
  text-align: center;
  margin: 10px;
  margin-left: 60px;
  padding: 3px 20px;
  border-radius: 5px;
  box-shadow: 1px 2px 20px rgb(204, 202, 202);
}
.year-result {
  font-size: 35px;
  line-height: 65px;
}
.day-result {
  font-size: 35px;
  line-height: 65px;
}
.month-result {
  font-size: 35px;
  line-height: 65px;
}
